@charset "UTF-8";

@media screen and (min-width:689px) and (max-width:968px){

    #dispositivo{
    background:url(../imagens/tablet2.jpg) no-repeat ;
    height: 540px;
    width: 510px;
    }

}

@media screen and (min-width:968px){

    #dispositivo{
    background:url(../imagens/pc2.jpg) no-repeat ;
    height: 400px;
    width: 480px;
    }

}