@charset "UTF-8";

@media screen and (min-width:689px) and (max-width:968px){

    #dispositivo{
    background:url(../imagens/tablet2.jpg) no-repeat ;
    height: 540px;
    width: 510px;
    }

    iframe{
        width: 435px;
        height: 460px;
        position: absolute;
        border-radius: 0px;

        left: 39px;
        top: 68px;
    }

}

@media screen and (min-width:968px){

    #dispositivo{
    background:url(../imagens/pc2.jpg) no-repeat ;
    height: 400px;
    width: 480px;
    }
    iframe{
        width: 456px;
        height: 260px;
        position: absolute;
        border-radius: 0px;

        top: 11px;
        left: 12px;
    }
}